@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {

  html{
      scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      @apply font-serif font-bold text-2xl md:text-3xl text-bold-text;
  }
  h1{
    @apply max-[340px]:text-5xl text-6xl md:text-7xl lg:text-9xl tracking-wide font-semibold;
  }

  p,a {
      @apply font-sans text-2xl font-normal text-text tracking-wide;
  }
}

@layer components {
  .custom-btn{
      @apply bg-primary font-semibold lg:font-normal text-bold-text text-xl py-3 w-44 md:w-48 text-center rounded-md tracking-tight; 
  }

  .text-shadow {
    text-shadow: 0.3px 0.5px 1.5px rgba(255, 255, 255, 0.4),
                 0.4px 0.6px 1.5px rgba(255, 255, 255, 0.3),
                 0.5px 0.7px 1.5px rgba(255, 255, 255, 0.2);
  }
  .custom-inner-shadow {
    box-shadow: -2px -11px 110px 16px rgba(0,0,0,0.80) inset;
  }

  .fancy-radius {
    border-radius: 30% 70% 67% 33% / 33% 27% 73% 67%;
  }
  .fancy-radius-rounded {
    border-radius: 53% 47% 46% 54% / 37% 54% 46% 63%;
  }
}   